body,
html,
*{
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }
.card{
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  width: 40vh;
  margin: 2.5rem 0;
  background-color: #cb8edd;
  align-items: center;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  transition: all 0.5s;
  box-shadow: 10px 10px #845c8f;
  font-family: 'Comfortaa', cursive;
}
@keyframes e {
  from {background-color: #cb8edd;}
   to {background-color: #f8a7f8;}
}
.card:hover{
  transform: scale(1.08) skew(1deg, 1deg) rotate(0.01turn);
  background-color: #f8a7f8;
  animation-name: e;
  animation-duration: 1s;
  box-shadow: 10px 10px #c92ca1, inset 10px 10px #b93281, 15px 15px #ff1b1b, inset 15px 15px #ce68a4, 20px 20px #ff951b, 25px 25px #fffb1b;
}
.card-img {
    width: 100%;
}
.card-title{
    font-size: 16;
}
.container {
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #92e28f;
    align-items: center;
    justify-content: space-around;
}
.cardprice {
  font-size: 15;
}
.difcard {
  width: 100%;
  height: 70%;
}
@media screen and (max-width: 900px) {
  .menu-item {
    width: 40%;
  }
}
@media screen and (max-width: 60px) {
  .menu-item {
    width: 100%;
  }
}
